$color-1: #21C2F8;
$color-2: #FFF;
$color-3: #222533;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn {
    color: $color-2;
    background: $color-1;
    padding: 11px 36.1px 11px 36.2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    border: none;
    letter-spacing: 0.2px;

    &:hover {
        cursor: pointer;
        background-color: $color-3;
    }

    &.medium {
        font-size: 18px;
        padding: 14px 47px;
    }

    &.large {
        font-size: 26px;
        padding: 23px 93px;
    }

    &.x-large {
        font-size: 36px;
        padding: 27px 100px 27px 102px;
    }

    &.round {
        &-3 {
            border-radius: 3px;
        }

        &-7 {
            border-radius: 7px;
        }

        &-12 {
            border-radius: 12px;
        }

        &-20 {
            border-radius: 20px;
        }
    }
}
