@import 'size';

.btn {
    border: none;
    background: color(1);
    color: color(2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: .2px;
    text-decoration: none;
    text-transform: uppercase;

    @include size(14px, 11px, 36.1px, 11px, 36.2px);

    &:hover {
        background-color: color(3);
        cursor: pointer;
    }

    &.medium {
        @include size(18px, 14px, 46px, 14px, 46px);
    }

    &.large {
        @include size(26px, 23px, 93px, 23px, 93px);
    }

    &.x-large {
        @include size(36px, 27px, 100px, 27px, 102px);
    }

    &.round {
        $corners: 3, 7, 12, 20;

        @each $corner in $corners {

            &-#{$corner} {
                border-radius: $corner + px;
            }
        }
    }
}

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.bg-color {
    @each $ind, $color in $palette {

        &-#{$ind} {
            background-color: $color;
        }
    }
}
